@model ISAD251_DatabaseApp.Data.Models.ShoppingCartViewModel

<header class="bg-img-2">
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-orange font-weight-bold">Your order</h1>
            </div>
        </div>
    </div>
</header>
<div class="container h-100 ex1">
    <div class="row checkoutForm">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Item</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center">Remove Item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@line.Products.ProductName</td>
                        <td class="text-center">£@line.Products.ProductPrice</td>
                        <td class="text-center">@line.Amount</td>
                        <td class="text-center">£@((line.Amount * line.Products.ProductPrice))</td>
                        <td class="text-center">
                            <a class="fas fa-2x fa-times" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-productId="@line.Products.ProductId"></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">Total:</td>
                    <td class="text-right">
                        £@Model.ShoppingCartTotal.ToString("")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group ">
                <div>
                    <a class="btn btn-success" asp-controller="CafeOrders" asp-action="Checkout">Check out</a>
                </div>
                <a class="btn-group">
                    <a class="btn btn-default nav-link dropdown-toggle" data-toggle="dropdown">
                        Add to order<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu bg-secondary nav-item" role="menu">
                        <li>
                            <a class="nav-link" asp-controller="CafeProducts" asp-action="Menu" asp-route-category="Drinks">Drinks</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="CafeProducts" asp-action="Menu" asp-route-category="Food">Food</a>
                        </li>
                    </ul>
                </a>
                <div>
                    <a class="btn btn-danger text-white" asp-controller="ShoppingCart" asp-action="EmptyCart">Cancel Order</a>
                </div>
            </div>
        </div>
    </div>

</div>