<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/w3.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" >
    <style>
        body, html {
            height:100%;
            font-family:"Inconsolata",sans-serif;
        }

        .bgimg {
            background-position: center;
            background-size: cover;
            width: 100%;
            min-height: 75%;
        }

        .menu {
            display: none;
        }
    </style>

    <title>@ViewBag.Title</title>
</head>
