@model ISAD251_DatabaseApp.Models.CafeProducts

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Product</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group border-1">
                <label class="control-label">Type</label>
                <select asp-for="ProductType">
                    <option value="Drinks">Drinks</option>
                    <option value="Food">Food</option>
                </select>
            </div>
            <div class="form-group border-1">
                <label class="control-label">Price</label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group border-1">
                <label class="control-label">Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group border-1">
                <label class="control-label">Calories</label>
                <input asp-for="ProductCalories" class="form-control" />
                <span asp-validation-for="ProductCalories" class="text-danger"></span>
            </div>
            <div class="form-group border-1">
                <label class="control-label">Details</label>
                <input asp-for="ProductDetails" class="form-control" />
                <span asp-validation-for="ProductDetails" class="text-danger"></span>
            </div>
            <div class="form-group border-1">
                <label class="control-label">Image</label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="margin" asp-area="" asp-controller="Admin" asp-action="Product">Back to List</a>
</div>

@{
    if (ViewBag.success != null)
    {
    <div class="row margin">
        <div class="col-sm-2">
            <div class="card bg-success mb-3">
                <div class="card-header bg-success text-center text-white">Product successfully edited</div>
            </div>
        </div>
    </div>
    }
}

