<!doctype html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/AdminLayout.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Home</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a asp-area="" asp-controller="Admin" asp-action="Index">
                    <span class="fa fa-home mr-3"></span> Homepage</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Product">
                        <span class="fa fa-bars mr-3"></span> Products
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Order">
                        <span class="fa fa-sticky-note mr-3"></span> Orders
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Customer">
                        <span class="fa fa-user mr-3"></span> Customers
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>